.layout {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.grid-item {
  background-color: #3498db;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 18px;
  gap: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

.classA{
  border: "red";
}
